# Configuración del Servidor
PORT=3000

# Configuración de SQL Server
DB_SERVER=162.248.53.192
DB_USER=IdentyWebUser
DB_PASSWORD=Tatiana2006
DB_NAME=taller_analitica
DB_PORT=1433
DB_ENCRYPT=false
DB_TRUST_CERT=true
